*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;    
}
body{
    background-color: hsl(225, 100%, 94%);
    color:  grey;
    font-size: 16px;
}
.toppings{
    border-radius: 10px;
    background-color: white;
    width: 80%;
    margin: 1rem 2rem;
}
#toyeface{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.inner2{
    background-color: hsl(225, 100%, 98%);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.para{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.inner{
    padding: 2rem;
    line-height: 30px;
    font-family: sans-serif;
    text-align: center;

}
.inner_header{
    color: rgb(20, 20, 20);
    margin-bottom: 10px;
}

.inner3{
    background-color: hsl(245, 75%, 52%) ;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-align: center;
    box-shadow: -10px 12px  hsla(224, 23%, 55%,0.2);

}
.temi{
    margin: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}
